<% @body_class = "new" %>

<div class="new-plusone">
  <h2 id="new-hdr">Create a cohort </h2>
  <form method="post" action="/cohorts/new">

    <textarea class="form-control" name="name" id="new-plusone-textarea" rows="1" placeholder="Name of the cohort" ></textarea>
    <div>
    <input class="btn btn-success" type="submit" value="Done">
  </div>
  </form>
</div>