/*>>>>> styling for the navbar <<<<<*/

.navbar-brand {
  font-family: Amita;
  font-size: 40px;
  margin-top: 8%;
}

#avatar-image {
  width: 40px; 
  height: 40px;
}

#nav-user {
  margin-top: 5%;
  font-size: 20px;
}

#nav-login-logout {
  margin-top: 5%;
  font-size: 20px;
}

#plusone-nav-image {
  width: 40px;
  height: 40px;
  margin-top: 5%;
}

  
/*>>>>> background image styling <<<<<*/

html {
  min-height: 100%;
  min-width: 100%;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100%;
  min-width: 100%;
  background-attachment: fixed;
}

body.index {
  background-image: url("../images/index-image.jpg");
}

body.login {
  background-image: url("../images/login-image.jpg");
}

body.edit {
  background-image: url("../images/edit-image.jpg");
}

body.new {
  background-image: url("../images/new-plusone-image.jpg");
}

body.upload {
  background-image: url("../images/user-upload-image.jpg");
}

/*>>>>> styling for the index page <<<<<*/

#index-hdr {
  color: whitesmoke;
  font-size: 1.75em;
  float: right;
  margin-right: 12%;
  margin-bottom: 5%;
}


.input-group-box {
  width: 330px;
  float: right;
  margin-right: 8%;
}

#index-username {
  width: 290px;
}

#index-password {
  width: 290px;
}

#index-email {
  width: 290px;
}

#index-intro {
  color: whitesmoke;
  font-size: 1.2em;
  margin-top: 2%;
  width: 330px;
}

#index-login-button {
  width: 330px;
}

#index-register-button {
  width: 330px;
}

/*>>>>> style for the login page <<<<<*/

#login-hdr {
  color: whitesmoke;
  text-align: center;
}

.form-signin {
  width: 350px;
  padding: 5%;
  padding-top: 15%;
  margin: 0 auto;
}

/*>>>>> style for the edit page <<<<<*/

#edit-form {
  margin-left: 10%;
  width: 330px;
}

#avatar-hdr {
  margin-left: 10%;
  color: whitesmoke;
  margin-bottom: 1%;
}

#edit-hdr {
  color: whitesmoke;
  margin-left: 10%;
  margin-top: 7%;
}

#edit-avatar-info {
  color: whitesmoke;
  margin-left: 10%;
  font-size: 1.1em;
}

#edit-form-button {
  margin-left: 10%;
  width: 330px;
}

#choose-file-btn {
  margin-left: 10%;
  margin-bottom: 1%;
}

/*>>>>> styling for the users results table <<<<<*/

#table-style {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

/*>>>>> styling for the new plusone page <<<<<*/

.new-plusone {
  margin-top: 1%;
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  text-shadow: .2em 0 0;
}

#new-hdr {
  color: whitesmoke
}

.main-color {
  color: royalblue;
}

.new-score {
  max-width:100px;
  text-align: center;
  margin: auto;
}

#new-plusone-btn {
  width: 375px;
  margin: 0.5% auto;
  margin-top: .25%;
  margin-bottom: .25%;
}

#new-plusone-textarea {
  width: 375px;
  margin-left: 35%;
  margin: 0.5% auto;
  margin-top: .25%;
  resize: none;
}

/*>>>>>> styling for returning users posts on the update page <<<<<<*/

#post-info {
  color: black;
  text-align: center;
  font-size: 1.2em;
}

#return-posts {
  background-color: whitesmoke;
  width: 376px;
  border: 1px solid grey;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: .25%;
}

/*>>>>> styling for the summary table score data <<<<<<*/

#table-score-data {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

#table-score-total {
  font-size: 20px;
  text-align: center;
  background-color: #E6E6E6; 
  font-weight: bolder;
}

#current-user-name {
  margin-left: 5%;
}

#table-username {
  font-size: 18px;
  text-align: center;
  background-color: #E6E6E6;
}

#table-button {
  width: 100%;
  font-color: whitesmoke;
}

th {
  font-size: 18px;
  text-align: center;
  background-color: #CFCFCF;
}

a.btn:link { 
  color: #fff; 
}


a.btn:visited {
  color: #00FF00;
}

a.btn:hover {
  color: #FF00FF;
}


a.btn:active {
  color: #0000FF;
}

#table-style {
  border-radius: 10px;
}

/*>>>>> styling for user upload page <<<<<*/

#upload-header {
 width: 100%;
 text-align: center;
 color: whitesmoke;
}

#upload-btn {
  margin-top: 5%;
}


/*>>>>> style for cohorts user table <<<<<*/

#cohorts-user-activities {
  margin-left: 1%;
  margin-right: 1%;
  width: 410px;
}

#cohorts-hdr-activities {
  margin-left: 1%;
}

#cohorts-main-hdr {
  text-align: center;
  margin-bottom: 2%;
  text-shadow: 2px 2px #FFFFFF;
  font-weight: bolder;
}

#cohorts-hdr-background {
  background-image: url("../images/cohort-header-background.jpg");
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 5px;
}

#cohort-winner {
  margin-left: 16%;
  max-height: 500px;
  max-width: 500px;
}

#cohort-loser {
  max-height: 500px;
  max-width: 500px;
}

#click-plus-one {
  font-family: Amita;
  font-size: 18px;
  color: lightblue;
  margin-top:15%;
}

#winner-image {
  height: 200px;
  width: 200px;
}

#loser-image {
  height: 200px;
  width: 200px;
}

#cohort-username {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#win-lose-hdr {
  text-align: center;
}

#cohort-score-btn {
  text-align: center;
}

/*#win-lose-btn {
  text-align: center;
  width: 150px;
  margin-left: 55%;
}*/

/*>>>>> syling for users show page <<<<<*/

#show-user-plusone {
  margin-left: 45%;
  margin-top: 1%;
}

#show-user-hdr {
  text-align: center;
  margin-bottom: 2%;
}

#show-user-info {
  margin-left: 1%;
  margin-right: 1%;
  width: 410px;
}

#user-update-btn {
  width: 200px;
  margin-left: 42%;
}



