
<div class="new-plusone">
  <h2>Add <span class="main-color">+1</span> for <%= Date.today.strftime("%A") %></h2>
  <form method="post" action="/plusones/new">
    <input type="number" name="score" class="form-control new-score" placeholder="Score" aria-describedby="basic-addon1">
    <br>
    <button class="btn btn-default" type="submit">Submit!</button>
  </form>
</div>