<div class="container">
  <h1>Signup</h1>
  <br>
  <form method="post" action="/">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
      <input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
      <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
      <input type="text" name="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
    </div> 
    <br>
    <button class="btn btn-default" type="submit">Register</button>
  </form>
</div>
